@import '../../styles/global.less';

.trending__container {
  h2 {
    font-size: 20px;
    margin: 0;
  }

  &-trends {
    margin-top: 10px;

    .dots {
      margin-top: 5px !important;
      position: relative;

      button {
        background: @app-second-color !important;
      }
    }

  }
}
